.container-grid {
    display: flex;
    flex-flow: wrap;
    align-items: top;
    justify-content: center;
}

.container-grid * {
    text-align: center;
    margin: 15px 15px 15px 15px!important;
}

.new-line {
    white-space: pre-line;
}