<div mat-dialog-content class="no-scroll fit-content">
    <div>
        <h3 class="title">Race</h3>
        <table>
            <thead>
                <tr>
                    <th>LineName</th>
                    <th>Direction</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{race?.line.name}}</td>
                    <td>{{race?.direction}}</td>
                    <td>{{race?.date?.toLocaleDateString()}}</td>
                    <td>{{race?.date?.toLocaleTimeString()}}</td>
                    <td>{{race?.raceState}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div>
            <h3 class="title">Companions</h3>
            <table class="min-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Initial Stop</th>
                        <th>Final Stop</th>
                        <th>State</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let companion of race?.companions">
                        <td class="mat-cell center-vertical">{{companion.userDetails.mail}} </td>
                        <td class="mat-cell">{{companion.initialStop.name}} </td>
                        <td class="mat-cell">{{companion.finalStop.name}} </td>
                        <td class="mat-cell">{{companion.state}}</td>
                        <td class="mat-cell">
                            <button mat-icon-button *ngIf="companion.state === 'AVAILABLE'" (click)="acceptRequest(race,companion)">
                                <mat-icon class="green">check</mat-icon>
                            </button>
                        </td>
                        <td class="mat-cell">
                            <button mat-icon-button *ngIf="companion.state === 'AVAILABLE' || companion.state === 'CHOSEN'" (click)="rejectRequest(race,companion)">
                                <mat-icon class="red">clear</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h3 class="title">Line</h3>
            <div class="timeline">
                <div class="stop-container" *ngFor="let stop of race?.direction=='OUTWARD'? race?.line.outwardStops : race?.line.returnStops">
                    <div class="stop" [ngClass]="{ 'covered': isStopCovered(stop), 'uncovered': !isStopCovered(stop)}">
                        <p>
                            <span class="block">{{stop.name}}</span>
                            <span class="block">{{getTime(race.date.getTime()+stop.delayInMillis)}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()" cdkFocusInitial>Cancel</button>
    </div>
</div>