td,
th {
    text-align: left;
    padding-right: 10px;
    vertical-align: top;
}

tr td:last-child,
th:last-child {
    padding-right: 0px;
}

table {
    height: 100%;
    overflow: auto;
    margin: 0px auto;
}

.no-scroll {
    overflow: initial;
}

.title {
    text-align: center;
    margin: 0px 0px 4px 0px;
    border-bottom: #c8c8c8 1px solid;
    width: 100%
}

.row {
    align-content: center;
    align-items: center;
}

.row div {
    border: 1px solid #c8c8c8;
    padding: 8px;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
}

.row div:last-of-type {
    margin-right: 0px;
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

.mat-form-field.block{
    display: block;
}   

.mat-form-field.block:first-of-type{
    margin-top: 30px;
}   

.mat-form-field.block:last-of-type{
    margin-bottom: 0px;
}   

mat-select {
    width: auto !important;
    min-width: 100%;
}

::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: auto !important;
}

::ng-deep mat-select .mat-select-value {
    min-width: 2ch;
    padding-right: 8px;
    max-width: 25ch;
}

::ng-deep mat-select .mat-select-placeholder {
    width: auto;
    min-width: 10ch;
}