<div class="padded-content">
    <mat-card class="compact-card centered">
        <h3>My Children</h3>
        <table *ngIf="children && children.length>0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>FiscalCode</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let child of children">
                    <td> {{child.name}}</td>
                    <td> {{child.surname}}</td>
                    <td> {{child.cf}}</td>
                    <button mat-icon-button (click)="removeChild(child)"><mat-icon class="red">remove</mat-icon> </button>
                </tr>
            </tbody>
        </table>
        <button mat-raised-button (click)="openAddChildDialog()">Add Child<mat-icon class="green">add</mat-icon></button>
    </mat-card>
</div>