<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .login-container {
            margin-top: 1%;
            margin-bottom: 5%;
            width: auto;
            max-width: 30%;
            min-width: 20%;
        }

        .login-container form {
            padding: 5%;
        }
    </style>
</head>
<body>


<div class="navbar navbar-nav navbar-dark">
    <h3>Laboratorio Applicazioni Internet - lab1</h3>
</div>


<div class="container login-container">

    <div class="col-md-12">
        <div class="row" style="align-content: center">
            <h4>Login</h4>
        </div>
        <form action="#" th:action="@{/login}" th:object="${loginVM}" method="post">

            <div class="form-group">
                <label class="col-form-label" for="mail">Mail</label>
                <input id="mail" name="mail" type="text" class="form-control" placeholder="email" value=""/>
                <label class="col-form-label" for="pass">Password</label>
                <input id="pass" name="pass" type="password" class="form-control" placeholder="password" value=""/>
                <a href="#" class="ForgetPwd">Forget Password?</a>
            </div>

            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="row">
            <div th:utext="${message}"></div>
        </div>
    </div>

</body>
</html>