<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .login-container {
            margin-top: 1%;
            margin-bottom: 5%;
            width: auto;
            max-width: 30%;
            min-width: 20%;
        }

        .login-container form {
            padding: 5%;
        }
    </style>
</head>
<body>
<div class="container col-md-6 p-5">
    <h3>Login</h3>
    <form method="post">
        <div class="form-group">
            <input name="mail" type="text" class="form-control" placeholder="email" value=""/>
        </div>
        <div class="form-group">
            <input name="pass" type="password" class="form-control" placeholder="password" value=""/>
        </div>
        <div class="form-group">
            <input type="submit" class="btnSubmit" value="Login"/>
        </div>
        <!--<div class="form-group">
            <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>-->
    </form>
    <div class="row">
        <div th:text="${message}"></div>
    </div>
</div>

</body>
</html>