<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .login-container {
            margin-top: 1%;
            margin-bottom: 5%;
            width: auto;
            max-width: 30%;
            min-width: 20%;
        }

        .login-container form {
            padding: 5%;
        }
    </style>
</head>
<body>


<div class="navbar navbar-nav navbar-dark">
    <h3>Laboratorio Applicazioni Internet - lab1</h3>
</div>

<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
    <span class="navbar-text">
         <div class="row">
        <div class="col-md-6 col-lg-6">
            <a href="/login">Login</a>
        </div>
        <div class="col-md-6 col-lg-6">
            <a href="/register">Register</a>
        </div>
    </div>
    </span>
</nav>

<div class="container login-container">

    <div class="col-md-12">
        <div class="row" style="align-content: center">
            <h4>Login</h4>
        </div>
        <form action="#" th:action="@{/login}" th:object="${loginVM}" method="post">

            <div class="form-group">
                <label class="col-form-label" for="mail">Mail</label>
                <input id="mail" name="mail" type="email" class="form-control" placeholder="email" value="" th:required="required"/>
                <label class="col-form-label" for="pass">Password</label>
                <input id="pass" name="pass" type="password" class="form-control" placeholder="password" value="" th:required="required"/>
            </div>

            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div>
            <div class="alert-danger" role="alert" style="text-align: center" th:utext="${message}"></div>
        </div>
    </div>
</div>
</body>
</html>