<h3 class="centered-text">ADMINISTRATION SECTION</h3>
<div>
    <div class="components-grid">
        <app-register class="components-grid-cell"></app-register>
        <app-users-management class="components-grid-cell"></app-users-management>
        <app-lines-management class="components-grid-cell"></app-lines-management>
    </div>
    <div class="components-grid">
        <app-companion-requests class="components-grid-cell"></app-companion-requests>
        <app-races-management class="components-grid-cell"></app-races-management>
    </div>
</div>